dist: trusty
sudo: false

language: generic
branches:
  only:
    - master

env:
  global:
    - NEOMAKE_DOCKER_IMAGE: neomake/vims-for-tests:6@sha256:3c713ad4ac2033ebb18d9db0b818829c7cd04183c50e73c82a8d48ee52d765ff

matrix:
  fast_finish: true
  include:
    - env: ENV=travis_test
      services:
        - docker
    - env: ENV=travis_lint
      language: python
    - env: ENV=testnvim
    - env: ENV=testvim

install:
  - |
    if [ "$ENV" = "travis_test" ]; then
      echo "Looking for changed files in $TRAVIS_COMMIT_RANGE."
      if ! git diff --exit-code --quiet "$TRAVIS_COMMIT_RANGE" doc/neomake.txt; then
        MAKE_ARGS="$MAKE_ARGS docker_vimhelplint"
        echo 'doc/neomake.txt changed, running docker_vimhelplint'
      fi
    elif [ "$ENV" = "testnvim" ]; then
      eval "$(curl -Ss https://raw.githubusercontent.com/neovim/bot-ci/master/scripts/travis-setup.sh) nightly-x64"

      # Install vim-vimhelplint for one build.
      make build/vimhelplint
    fi

script:
  - |
    if [[ "$ENV" = "testvim" ]]; then
      vim --version
      if ! vim --version 2>&1 | grep -F 'VIM - Vi IMproved 7.4' -A1 | grep -q '^Included patches: 1-52'; then
        echo 'Unexpected Vim version (expected 7.4.52)' >&2
        exit 1
      fi
    fi
    umask 022
  - make $ENV $MAKE_ARGS
